<html>
 <head>
    <title>Title</title>
 </head>
 
  <body>
    
     <form action="/question/create" method="POST">
         <input type=""  name="title" placeholder="write question here.." required>
         <button type="submit">Add</button>
     </form>
     
     
  </body>

</html>


